#finish stuff
# A video for each restaurant 
# The video query needs to be resetted each instance of app.py, same as restaurant list.
# !!!!!Open on google maps through address link Status: Done
#


#Not needed but should do  
# User accounts
# AI chat to find recs
#
#
#