<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HalalSpot</title>
        <link rel="icon" type="image/png" href="/static/images/logo.png" />

        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />
    </head>
    <body>
        <header class="site-header">
            <div class="nav-left">
               <a href="/">
                <img
                    src="{{ url_for('static', filename='images/logo.png') }}"
                    class="logo"
                />
                </a>
            </div>

            <nav class="main-nav">
                <a href="/reviews">Reviews</a>
                <a href="/contact">Contact Us</a>
            </nav>
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer class="site-footer">
            <div class="container">
                <p>&copy; 2025 Halal Spot. All rights reserved.</p>
                <p>Helping you find Verified halal food, wherever you are.</p>
            </div>
        </footer>
    </body>
</html>
