{% extends "base.html" %}
{% block content %}
<body>
    <h1>Meet the Team</h1>

    <div>
        <h3>Jeffrey Khov</h3>
        <p>Email: jeffrey@example.com</p>
        <p>LinkedIn: <a href="https://linkedin.com/in/jeffrey">linkedin.com/in/jeffrey</a></p>
        <p>GitHub: <a href="https://github.com/jeffrey">github.com/jeffrey</a></p>
    </div>

    <div>
        <h3>Sarvarbek Rahmonov</h3>
        <p>Email: fatima@example.com</p>
        <p>LinkedIn: <a href="https://linkedin.com/in/fatima">linkedin.com/in/fatima</a></p>
        <p>GitHub: <a href="https://github.com/fatima">github.com/fatima</a></p>
    </div>

    <div>
        <h3>Edison Zheng</h3>
        <p>Email: omar@example.com</p>
        <p>LinkedIn: <a href="https://linkedin.com/in/omar">linkedin.com/in/omar</a></p>
        <p>GitHub: <a href="https://github.com/omar">github.com/omar</a></p>
    </div>

    <div>
        <h3>baber Baloch</h3>
        <p>Emaia@example.com</p>
        <p>LinkedIn: <a href="https://linkedin.com/in/layla">linkedin.com/in/layla</a></p>
        <p>GitHub: <a href="https://github.com/layla">github.com/layla</a></p>
    </div>
</body>
{% endblock %}