{% extends "base.html" %}
{% block content %}

    <h1>Meet the Team</h1>
    <p>Feel free to reach out to any of us:</p>

    <table>
        <tr>
            <td>
                <h3>Babar Baloch</h3>
                <p>Email: bababaloch415@gmail.com</p>
                <p>Linkedin: <a href="https://www.linkedin.com/in/bbrbaloch">linkedin.com/in/bbrbaloch</a></p>
            </td>
            <td>
                <h3>Jeffrey Khov</h3>
                <p>Email: jeffreykhov7@gmail.com</p>
                <p>Linkedin: <a href="https://www.linkedin.com/in/jkhov">linkedin.com/in/jkhov</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Sarvarbek Rahmonov</h3>
                <p>Email: rahmonovsarvarbek3@gmail.com</p>
                <p>Linkedin: <a href="https://www.linkedin.com/in/rahmonovsar">linkedin.com/in/rahmonovsar</a></p>
            </td>
            <td>
                <h3>Edison Zheng</h3>
                <p>Email: ediz6207@gmail.com</p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/edizheng">linkedin.com/in/edizheng</a></p>
            </td>
        </tr>
    </table>
    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}
